<%- include("partials/header") -%>

<%# this is nav bar %>
<%- include("sections/header") -%>
<br>


<%- include("sections/fullwidthintro") -%>


<%- include("sections/fullscreenSlider") -%>



<%- include("sections/gallery") -%>





<%- include("sections/mouseover") -%>



<!-- if you want to include flipimages section write below code properly -->
 <!-- include("sections/flipimages")  -->






<section once="footers" class="cid-s6GpgYnzpq" id="footer6-b">

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2020 Rohit Verma
                </p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") -%>
